<launch>

  <!-- remote remapping components -->  
  <include file="$(find nao_remote)/launch/nao_remote.launch" />
  
  <!-- driver components -->  
  <include file="$(find nao_driver)/launch/nao_driver.launch" />
  <include file="$(find nao_components)/launch/nao_components.launch" />	
  
  <!-- joystick teleop -->
  <node pkg="joy" type="joy_node" name="joy_node">
    <param name="dev" value="/dev/input/js1"/>
  </node>
  
  <node pkg="nao_demo" type="barc_nao_joy" name="barc_nao_joy" required="true" output="screen"/> 
  
  <!-- add our own positions for the pose manager -->
  <rosparam file="$(find nao_demo)/config/bham_poses.yaml" command="load" ns="/pose_manager/poses"/>

  
</launch>
