<launch>

  <include file="$(find nao_components)/launch/nao_components.launch" />	

  <!-- joystick teleop -->
  <node pkg="joy" type="joy_node" name="joy_node">
    <param name="dev" value="/dev/input/js0"/>
  </node>
  
  <node pkg="nao_demo" type="barc_nao_joy" name="barc_nao_joy" required="true" output="screen"/> 

</launch>
